.header {
  background-color: white;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  padding: 25px 0px;
}
.btn {
  margin: 20px;
}

.Plan_head{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}


.PaymentBlock{
  margin: 20px 0px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgb(239, 239, 239);
  padding: 15px;
}

.InPlanHeader{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 20px;
  align-items: center;
}

.InPlan{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: white;
}


.Plan_Over{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Data{
  display: flex;
  justify-content: center;
  padding: 20px 50px;
  gap: 50px;
}

.Data_Down{
  flex-basis: 60%;
}

.Data_Down p{
  font-size: 15px;
}

.Floor_Down{
  max-width: 300px;
  width: 100%;
}

.Floor_Down img{
  width: 100%;
  object-fit: contain;
}


@media (max-width:550px){
  .PaymentBlock{
    border-radius: 0px;
    padding: 10px 0px;
    gap: 5px;
  }
  .InPlanHeader{
    padding: 10px 5px 5px;
  }
  .InPlan{
    padding: 10px 5px;
    border-radius: 0px;
  }
  .Data{
    flex-direction: column;
    gap: 10px;
  }
  .Plan_head{
    gap: 10px;
  }
  .Plan_head button{
    font-size: 14px;
  }
}