.Filtering_top {
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.09);
  padding: 0;
  align-self: flex-start;
  justify-self: flex-start;
  width: 100%;
  position: relative;
}

.popUpStyling {
  position: fixed;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(81, 81, 81, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn_close {
  color: white;
  font-size: 2.2rem;
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 600;
  top: 1%;
  right: 0;
}

@media (max-width:550px){
  .btn_close{
    display: none;
  }
}

.btn_group {
  display: flex;
  justify-content: space-between;
  margin: 10px 9px 0 10px;
  gap: 40px;
  margin-bottom: 30px;
}

.btn_favriote {
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  background: #eaeaea;
  color: #333;
  border: #eaeaea solid 1px;
  transition: 0.5s;
  width: 100%;
  border-radius: 7px;
}

.btn_favriote:hover {
  background: #333;
  color: #fff;
}

.btn_Details {
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  background: #58bf93;
  color: white;
  border: #eaeaea solid 1px;
  transition: 0.5s;
  width: 100%;
  border-radius: 7px;
}

.Advance_bg {
  height: 85%;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-radius: 8px;
  left: auto;
  right: 1%;
  top: 10%;
  z-index: 19;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.4);
  position: fixed !important;
  width: 650px;
  overflow-x: hidden;
  background-color: #fff;
  animation: Advance-animation 1s ease-in-out;
}

@keyframes Advance-animation {
  0% {
    transform: translateX(100%) scale(1);
  }
  100% {
    transform: translateX(0%) scale(1);
  }
}

.Advance_Head{
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid rgb(186, 186, 186);
  padding: 15px 0px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-left:30px ;
}

.Advance_Head button{
  font-size: 20px;
  margin-right: 20px;
}

.Filter_btn{
  display: flex;
  margin: auto;
  max-width: 100%;
  position: sticky;
  background-color: #fff;
  border-top: 1px solid #9c9c9c;
  padding: 10px;
  bottom: 0;
}

.review_btn{
  max-width: 80%;
  margin: auto;
  padding: 15px 0px;
}

.head_sticky{
  position: sticky;
  top: 0;
  background-color: #fff;
}

.input_fields::placeholder{
  font-size: 18px;
  color: black;
}

@media (max-width:890px){
  .project_listing_filter ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .project_listing_filter ul li label{
    color: #1b46b9;
    font-size: 18px;
    font-weight: 700;
  }
  .Type_filter ul{
    display: flex;
    flex-direction: row;
    gap: 0px;
    width: 100%;
  }
  .Type_filter ul li{
    width: 100%;
    text-align: center;
    padding: 8px 5px 0px 0px;
    color: black;
  }
  .Type_filter ul li:nth-child(2){
    margin-right: 0px;
  }
  .Type_filter ul li:last-child{
    padding-right: 0px;
  }
  .Type_filter ul .nav_active{
    background-color: #1b46b9;
    color: white;
  }
}
